emb_cache/*
*wandb/*
*sweep/*
run_logs/*
*__pycache__*
core.*
configs/*
logs/*
logging/*
jobs/*
test_data/*
results/_test*
results/permutations/*/10000_permutations/
results/permutations/*/100000_permutations/batches/
results/permutations/*/fit/fitted_state.pkl
